pip==21.0.1
wheel==0.36.2
cloudant==2.14.0
python-dotenv==0.17.1
nltk==3.6.2
tweepy==3.10.0
shapely== 1.7.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
scikit-learn==0.24.2
scipy==1.4.1
pandas==1.2.4
geopandas==0.9.0